body {
	background-color: var(--tan);
	font-family: "Neue Haas Grotesk";
	font-size: var(--body-txt);
	color: var(--black);
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: var(--tan);
}

header {
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.scroll-grp {
	letter-spacing: var(--letter-spacing);
	text-transform: uppercase;
	font-family: "Druk Wide Medium";
	color: var(--light-grey);
	margin-top: clamp(60px, 10vw, 132px);
	line-height: 0.8;
}

.loop-container {
	display: flex;
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 1vw;
}

.loop-container__text {
	animation: textLoop 10s linear infinite;
	font-size: var(--scroll-txt-size);
}

.loop-container__text span {
	margin-right: var(--span-gap);
	cursor: pointer;
	transition: color 0.35s ease;
}

.loop-container__text--backwards {
	animation: textLoopBackwards 10s linear infinite;
}

.loop-container__text,
span {
	pointer-events: none;
}

.selected-txt {
	animation-play-state: paused;
	color: var(--black);
}

.loop-container:hover {
	color: var(--dark-grey);
}

.slow-anim {
	animation-duration: 20s;
}

.copyright {
	padding-left: 24vw;
	padding-right: 10vw;
	padding-top: 20px;
	display: flex;
	font-size: 11px;
	justify-content: space-between;
}

.est {
	margin-left: 8px;
}

.coordinates {
	display: flex;
}

.line-anim {
	position: absolute;
	left: 24vw;
	bottom: 0;
	width: 1px;
	height: 7vh;
	background-color: black;
}

.horizontal-line {
	position: absolute;
	width: 4vw;
	height: 1px;
	background-color: black;
	right: 0;
}

.card-info {
	cursor: initial;
	position: relative;
	letter-spacing: 0;
	text-transform: initial;
	font-family: "Neue Haas Grotesk";
	position: absolute;
	color: var(--tan);
	line-height: normal;
	background-color: var(--black);
	border-radius: 16px;
	min-height: 343px;
	min-width: 220px;
	padding-top: 36px;
	padding-left: 16px;
	padding-right: 14px;
	z-index: 1;
	display: none;
	box-shadow: var(--box-shadow);
}

.txt-outline {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.card-active {
	display: block;
}

.x-icon {
	cursor: pointer;
	position: absolute;
	bottom: 14px;
	right: 14px;
	transition: opacity 0.2s ease;
}

.card-info__project,
.card-info__contact {
	transition: opacity 0.2s ease;
}

.x-icon:hover,
.card-info--about li:hover,
.card-info__project:hover {
	opacity: 0.5;
	cursor: pointer;
}

h2 {
	font-family: "Druk Wide Medium";
	font-size: var(--scroll-txt-size);
	position: absolute;
	left: -3.2vw;
}

h2,
h4 {
	line-height: 0.76;
}

.alignment {
	display: flex;
	align-items: flex-end;
	margin-bottom: 58px;
}

h4 {
	font-weight: 700;
}

.work {
	max-width: 1920px;
	padding-top: clamp(100px, 32vw, 375px);
	padding-left: 24vw;
	padding-right: 4vw;
}

.work__content {
	max-width: 607px;
	line-height: 27px;
	margin-bottom: 324px;
}

.work__side-info {
	margin-top: 142px;
	display: flex;
	opacity: 0.35;
}

.work__side-info p:first-child {
	margin-right: 140px;
}

.work__side-info span {
	margin-left: 12px;
}

.work__images img {
	margin-bottom: 5vw;
}

.work__images img:last-child {
	margin-bottom: 0;
}

.work,
.line-anim {
	display: none;
}

.view-btn {
	background-color: var(--black);
	height: 85px;
	width: 85px;
	display: flex;
	border-radius: 50%;
	position: sticky;
	top: 80vh;
	transform: translate(clamp(300px, 56vw, 910px), 50%);
	transition: 0.35s ease;
	justify-content: center;
	align-items: center;
}

.view-btn:hover {
	background-color: var(--black);
	box-shadow: var(--box-shadow);
	color: rgba(248, 249, 242, .5);
}

.view-btn:hover a {
	opacity: 0.5;
}

.view-btn a {
	margin: auto;
	transition: 0.35s ease;
}

.up {
	color: var(--black);
}

.controls {
	padding-left: 4vw;
	padding-right: 4vw;
	max-width: 1920px;
	margin-top: 210px;
	margin-bottom: 100px;
	display: none;
	justify-content: space-between;
	align-items: center;
}

.arrow__svg {
	width: 120px;
	overflow: visible;
}

.arrow__line {
	transition: stroke-width .35s ease;
}

.arrow__color {
	stroke: var(--black)
}

.arrow:hover .arrow__line {
	stroke-width: 8px;
}

.mov {
	max-width: 100%;
	margin-bottom: 5vw;
}
