@font-face {
    font-family: 'Druk Wide Medium';
    src: url(../assets/fonts/Druk-Wide-Medium.otf);
}

@font-face {
    font-family: 'Neue Haas Grotesk';
    font-weight: 400;
    src: url(../assets/fonts/NHaasGroteskTXPro-55Rg.otf);
}

@font-face {
    font-family: 'Neue Haas Grotesk';
    font-weight: 700;
    src: url(../assets/fonts/NHaasGroteskTXPro-75Bd.otf);
}