@keyframes textLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@keyframes textLoopBackwards {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes slideUp {
	from {
        -webkit-transform: translateY(0);
		transform: translateY(0);
	}
	to {
        -webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}