@media (max-width: 1024px) {
	
	.card-info {
		min-height: initial;
		min-width: max-content;

		width: 200px;
		height: 295px;
	}
}

@media (max-width: 768px) {
	:root {
		--body-txt: 14px;
	}

	.up__container {
		height: 17px;
	}

	.work__content {
		max-width: 400px;
		line-height: 22px;
	}

	.alignment {
		margin-bottom: 10vw;
	}

	.work__side-info {
		margin-top: 14vw;
	}

	.work__content {
		margin-bottom: 28vw;
	}

	.card-info {
		width: 170px;
		height: 246px;
		padding-left: 12px;
		padding-top: 32px;
	}

	.x-icon {
		width: 14px;
	}

	.view-btn {
		height: 70px;
		width: 70px;
	}

	.arrow__svg {
		width: 80px;
	}
}

@media (max-width: 480px) {
	.copyright {
		display: none;
	}
}