@font-face {
    font-family: 'Druk Wide Medium';
    src: url(../fonts/Druk-Wide-Medium.otf);
}

@font-face {
    font-family: 'Neue Haas Grotesk';
    font-weight: 400;
    src: url(../fonts/NHaasGroteskTXPro-55Rg.otf);
}

@font-face {
    font-family: 'Neue Haas Grotesk';
    font-weight: 700;
    src: url(../fonts/NHaasGroteskTXPro-75Bd.otf);
}


/****************************************** VARIABLES ******************************************/

:root {
    /* colors */
    --tan: #F8F9F2;
    --light-grey: hsl(60, 12%, 82%);
    --dark-grey: hsl(70, 4%, 55%);
    --black: #121409;

    /* text-styles */
    --body-txt: 18px;
    --scroll-txt-size: clamp(40px, 6vw, 120px);
    --letter-spacing: -1px;

    /* general */
    --span-gap: clamp(15px, 2.3vw, 40px);
}

body {
    background-color: var(--tan);
    font-family: 'Neue Haas Grotesk';
    font-size: var(--body-txt);
    color: var(--black);
}

a {
    text-decoration: none;
    color: var(--tan);
}

header {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.scroll-grp {
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
    font-family: 'Druk Wide Medium';
    color: var(--light-grey);
    margin-top: clamp(60px, 10vw, 132px);
    line-height: .8;
}

.loop-container {
    display: flex;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 1.2vw;
}

.loop-container__text {
    animation: textLoop 10s linear infinite;
    font-size: var(--scroll-txt-size);
}

.loop-container__text span {
    margin-right: var(--span-gap);
    cursor: pointer;
    transition: color .35s ease;
}
  
.loop-container__text--backwards {
    animation: textLoopBackwards 10s linear infinite;
}
  
.loop-container--hover {
    color: var(--black);
}

.loop-container__text,
span {
    pointer-events: none;
}

.selected-txt {
    animation-play-state: paused;
    color: var(--black);
}

.loop-container:hover {
    color: var(--dark-grey);
}

.slow-anim {
    animation-duration: 20s;
}

.info {
    padding-left: 26vw;
    padding-right: 7vw;
    padding-top: 20px;
    display: flex;
    font-size: 11px;
    justify-content: space-between;
}

.est {
    margin-left: 8px;
}

.coordinates {
    display: flex;
}

.coordinates p:first-child {
    margin-right: 32px;
}

.line {
    position: absolute;
    left: 26vw;
    bottom: 0;
    width: 1px;
    height: 7vh;
    background-color: black;
}

.horizontal-line {
    position: absolute;
    width: 4vw;
    height: 1px;
    background-color: black;
    right: 0;
}

.card-info {
    cursor: initial;
    position: relative;
    letter-spacing: 0;
    text-transform: initial;
    font-family: 'Neue Haas Grotesk';
    position: absolute;
    color: var(--tan);
    line-height: normal;
    background-color: black;
    border-radius: 16px;
    height: 343px;
    min-width: 232px;
    padding-top: 36px;
    padding-left: 16px;
    padding-right: 14px;
    z-index: 1;
    display: none;
}

.txt-outline {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.card-info p {
    margin-bottom: 2px;
    cursor: pointer;
    width: max-content;
}

.card-info--about p {
    cursor: initial;
}

.card-active {
    display: block;
}

.social-media {
    margin-top: 24.5px;
}

h1.my-name {
    margin-bottom: 24.5px;
}

.x-icon {
    cursor: pointer;
    position: absolute;
    bottom: 14px;
    right: 14px;
    opacity: .5;
    transition: opacity .35s ease;
}


.x-icon:hover {
    opacity: 1;
}

h2 {
    font-family: 'Druk Wide Medium';
    font-size: var(--scroll-txt-size);
    position: absolute;
    left: -3.2vw;
}

h2,
h4 {
    line-height: .76;
}

.alignment {
    display: flex;
    align-items: flex-end;
    margin-bottom: 108px;
}

h4 {
    font-weight: 700;
}

.work {
    max-width: 1920px;
    padding-top: clamp(100px, 32vw, 375px);
    padding-left: 26vw;
    padding-right: 4vw;
}

.work__content {
    max-width: 607px;
    line-height: 27px;
    margin-bottom: 324px;
}

.work__side-info {
    margin-top: 162px;
    display: flex;
    opacity: .35;
}

.work__side-info p:first-child {
    margin-right: 140px;
}

.work__side-info span {
    margin-left: 12px;
}

.work__images img {
    margin-bottom: 5vw;
}

.work__images img:last-child {
    margin-bottom: 0;
}

.work,
.line {
    display: none;
}

.view-btn {
    background-color: var(--black);
    height: 85px;
    width: 85px;
    display: flex;
    border-radius: 50%;
    position: sticky;
    top: 80vh;
    transform: translate(clamp(300px,56vw, 910px), 50%);
    transition: .35s ease;
}

.view-btn:hover {
   background-color: var(--black);
   box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}

.view-btn a {
    margin: auto;
}

.up {
    color: var(--black);
   
}

/* .loop-container:hover .loop-container__text {
    animation-duration: 20s;
}

.loop-container:hover .loop-container__text.selected-txt {
    animation-duration: 10s;
} */

.controls {
    padding-left: 4vw;
    padding-right: 4vw;
    max-width: 1920px;
    margin-top: 210px;
    margin-bottom: 100px;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    cursor: pointer;
    
}












/****************************************** ANIMATION ******************************************/

@keyframes textLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@keyframes textLoopBackwards {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

