:root {
    /* colors */
    --tan: #F8F9F2;
    --light-grey: hsl(60, 12%, 82%);
    --dark-grey: hsl(70, 4%, 55%);
    --black: hsl(71, 48%, 11%);

    /* text-styles */
    --body-txt: 18px;
    --scroll-txt-size: clamp(40px, 7vw, 120px);
    --letter-spacing: -1px;

    /* general */
    --span-gap: clamp(15px, 1.8vw, 30px);
}