:root {
    /* colors */
    --tan: #F8F9F2;
    --light-grey: hsl(60, 12%, 82%);
    --dark-grey: hsl(70, 4%, 55%);
    --black: hsl(71, 42%, 12%);
    --box-shadow: 5px 6px 22px rgba(0, 0, 0, 0.2);

    /* text-styles */
    --body-txt: 18px;
    --scroll-txt-size: clamp(40px, 7vw, 120px);
    --letter-spacing: -4px;

    /* general */
    --span-gap: clamp(15px, 1.8vw, 30px);
}